.loader {
    text-align: center;
    transition: all 1s ease-in-out;
}

.loaderon {
    opacity: 1;
    transform: translateX(0%);
}

.loaderoff {
    opacity: 0;
    transform: translateX(100%);

}

.image {
    max-height: 200px;
    width: auto;
}